
block content
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.min.css" />

    <script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
    <div class="container">
        <br />
        <br />
        <br />

        <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>SHOPILOC IS A OPEN-SOURCE PROJECT WITH THE SIMPLE GOAL OF SHOPPERS FINDING LOCAL INDEPENDENT STORES THAT CAN DELIVER TO THEIR HOUSE IN THESE TIMES OF CRISIS.
        </div>

        <br />
        <h3 class="faq">How you can help </h3>
        <ul class="info">
            <li> USE IT!
            
            </li>
            <li> Share it
            </li>
            <li> Get storeowners to add their stores
            </li>
            <li> If you are a marketer - copywriter - developer - designer or have any skill that can help save local businesses, let us know - we have a trello-board here where you can comment suggestions  - <a href="https://trello.com/b/2sJcvyaw/shopiloccom"> Trello Board</a> 
            </li>
            <li> Donations are welcome - we don't need much - just enough to run the server - any extra donations will be used on adspend!

            </li>
        </ul>
        <h3 class="faq"> Urgently looking for:</h3>
        <ul class="info">
            <li> - Designers</li>
            <span>(all other pls refer to point 4!)</span>
        </ul>
        <h3>List of volunteers</h3>
        <ul>
            <li>Mamadou Koné - Dev-Ops
            </li>
            <li>Lukas - Developer
            </li>
            <li>EcomExperts.io team - Project management, developers
            </li>
        </ul>
        <div class="panel-group" id="accordion">
            <div class="faqHeader">FAQ</div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Why should't I shop on Amazon</a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">mazon is great, but small independent shops in your area suddenly stopped getting traffic. This means unless we do an extra effort they will shut down.Your "main" street will be filled with bankrupt shops.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTen">What's the difference between this and Google?
                        </a>
                    </h4>
                </div>
                <div id="collapseTen" class="panel-collapse collapse">
                    <div class="panel-body">The shops you see are limited to the ones that can actually deliver personally in your area. Each shop on the list can only add a limited amount of postal codes as their delivery zone - this means you are really getting your local shops instead of the big e-com players that dominate Google
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">I own a shop - but don't have a site, HELP!</a>
                    </h4>
                </div>
                <div id="collapseEleven" class="panel-collapse collapse">
                    <div class="panel-body">We got you - click here - to have a step by step video tutorial on how to set up a Shopify store at the lowest price possible.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Why is your "set up a store" tutorial just for Shopify?</a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">We don't think this is the time to debate which platform is better. We made the videos for Shopify because that's what we are fluent in - we are more then open to add tutorials on other platforms as well! The goal is to get as many independent shop owners online asap

                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">I added my store but I don't see it!</a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">We manually accept new store entries - this might take a moment - we do this to limit the amount of span and because we kept the product basic
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">Why isn't my country featured in the search list?</a>
                    </h4>
                </div>
                <div id="collapseFive" class="panel-collapse collapse">
                    <div class="panel-body">This means we don't have any stores in your country yet - and that's sad news :( - You need to help us get the word out!
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">When I add my store - I can't add more then 6 postal codes as delivery zones</a>
                    </h4>
                </div>
                <div id="collapseSix" class="panel-collapse collapse">
                    <div class="panel-body">Yes we know - reason is that we want to keep it local. Amazon delivers everywhere, so does zara.com. This site is to give a lifeline to your local corner-store that never did any web marketing before and that stands no chance in ranking on google. That's why delivery-zones are limited.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEight">I made a mistake in my store listing - how do I change it?</a>
                    </h4>
                </div>
                <div id="collapseEight" class="panel-collapse collapse">
                    <div class="panel-body">Ow lord - we're not fancy enough yet! You need to send us an email andrew@ecomexperts.io
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseNine">Are you affiliated with someone?</a>
                    </h4>
                </div>
                <div id="collapseNine" class="panel-collapse collapse">
                    <div class="panel-body">We are in talks with multiple government organizations of different countries (3) and e-commerce platforms(2) but govs & multinationals take time so no official affiliation yet! :(
                    </div>
                </div>
            </div>

            
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">Is this the latest version of an item</a>
                    </h4>
                </div>
                <div id="collapseSeven" class="panel-collapse collapse">
                    <div class="panel-body">Each item in <strong>PrepBootstrap</strong> is maintained to its latest version. This ensures its smooth operation.
                    </div>
                </div>
            </div>
        </div>
    </div>


