
block content
    <div id="reqdeets">
      <div class="reqdeets-row">
        <span class="subtitle">Location:</span>
        <input id="address" class="reqdeets-input" type="textbox" value="Montreal, CANADA">
      </div>
      <div class="reqdeets-row">
        <span class="subtitle">Max distance in meters:</span>
        <input id="radius" class="reqdeets-input" type="number" value="1500">
      </div>
      <div class="reqdeets-row">
        <span class="subtitle">Business Categories:</span>
        <select id="dropdown" multiple="multiple"></select>
      </div>
      <div class="reqdeets-row">
        <input id="submit" class="reqdeets-submit" type="button" value="Get LocalShops">
      </div>
    </div>
    <div id="map"></div>