extends layout

block content
    <div class="s01">

        <form action="/user/recover" method="post">
        <fieldset>
            <legend>Enter Your Email To Recover Password</legend>
        </fieldset>
        <div class="error">
            - var success = success;
            if success != true
            p= message
        </div>
        <div class="inner-form">
            
            <div class="input-field first-wrap">
                <input id="search" name="email" type="text" required placeholder="Email" />
            </div>
            
            <div class="input-field third-wrap">
            <button class="btn-search" type="submit">Recover Password</button>
            </div>
        </div>
        </form>
    </div>